.c-h{
    height:100px
}
.c1{
    background-color: peachpuff;
}
.c2{
    background-color: palevioletred;
}
.c3{
    background-color: aquamarine;
}
.c4{
    background-color: brown;
}
a{
    text-decoration: none;
}
